/build/
/dist/
/nbproject/private/
/nbbuild/
/nbdist/
/nbactions.xml
/nb-configuration.xml
.mtj.tmp/
*.class
*.war
*.ear
*.jar


*.o
*.obj
*.out
*.exe
*.a
*.lib
*.so
*.dll
/cmake-build-debug/
/cmake-build-release/


.DS_Store
Thumbs.db
*~
*.swp
.directory
